<!DOCTYPE html>
<html lang="en">
<head>
    <title>لیست وجوه پرداختی</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="../sidebar/sidebar.css">
    <link rel="stylesheet" href="../../modir/static/modir/css/home.css">
</head>
<body style="background-color: #3f001f;">


<div id="wrapper">

    <nav class="navbar" style="border: black solid 2px; padding: 0px; margin: 0px">
        <div class="container-fluid" style="background: white; padding: 0px; margin: 0px">

            <!-- Logo -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#mainNavBar">
                    <span class="icon-bar" style="background-color: #7a0134;"></span>
                    <span class="icon-bar" style="background-color: #7a0134;"></span>
                    <span class="icon-bar" style="background-color: #7a0134;"></span>
                </button>
            </div>

            <!--Menu Items-->
            <div class="collapse navbar-collapse" id="mainNavBar">
                <ul class="nav navbar-nav navbar-left">
                    <li>
                        <a href="#" class="btn btn-success" id="menu-toggle"
                           style=" background-color:#630d31; border-color:#4d0926; font-family: 'B Mitra'; font-weight:bold; font-size: 18px; padding: 8px; margin: 8px;">منوی
                            کاربری</a>
                    </li>
                </ul>
                <span class="pull-right">
            <ul class="nav navbar-nav">
                <li><a href="Contact-Hamyar.html" style="color:#7a0134; font-family: 'B Nazanin'; font-size: 20px; alignment: right;"
                       onMouseOver="this.style.color='#230007';"
                       onMouseOut="this.style.color='#7a0134'; ">ارتباط با ما</a></li>
                <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown"
               style="color:#7a0134; font-family: 'B Nazanin'; font-size: 20px; alignment: right;"
               onMouseOver="this.style.color='#230007';"
               onMouseOut="this.style.color='#7a0134';">آشنایی با بنیاد کودک <span class="caret"></span></a>
            <ul class="dropdown-menu"
                style="text-align: right; color:#7a0134; font-family: 'B Nazanin'; font-size: 20px; alignment: right;"
                onMouseOver="this.style.color='#230007'; this.style.fontWeight='bold';"
                onMouseOut="this.style.color='#7a0134'; this.style.fontWeight='normal'">
              <li><a href="History-Hamyar.html">تاریخچه</a></li>
              <li><a href="Chart-Hamyar.html">چارت سازمانی</a></li>
              <li><a href="Goals-Hamyar.html">اهداف و دیدگاه ها</a></li>
            </ul>
            </li>
                <li class="active"><a href="Home-Hamyar.html"
                                      style="color:#7a0134; font-family: 'B Nazanin'; font-size: 20px; alignment: right;"
                                      onMouseOver="this.style.color='#230007';"
                                      onMouseOut="this.style.color='#7a0134';">بنیاد کودک</a></li>
                 <li><img src="../../modir/static/modir/images/cf3.png"
                          style="width: 50px; height: 50px; opacity: 0.8; padding: 5px; alignment: right;"></li>

                <!--drop down menu-->
            </ul>
                    <!--right alight-->
            </span>
            </div>

        </div>
    </nav>
    <!--sidebar-->
    <div id="sidebar-wrapper">
        <ul class="sidebar-nav" style="font-family: 'B Mitra'; font-size: 20px; text-align: right;">
            <li><a href="pay.html"> &nbsp &nbsp پرداخت &nbsp &nbsp </a></li>
            <li><a href="hadayaye-gheirenaghdi.html"> &nbsp &nbsp هدایای غیرنقدی &nbsp &nbsp </a></li>
            <li><a href="messageSending.html"> &nbsp &nbsp ارسال پیام &nbsp &nbsp </a></li>
            <li><a href="madadjooContact.html"> &nbsp &nbsp درخواست ارتباط با مددجو &nbsp &nbsp </a></li>
            <li><a href="madadjoo-list.html"> &nbsp &nbsp کودکان تحت حمایت &nbsp &nbsp </a></li>
            <li><a href="entekhab-madadjoo.html"> &nbsp &nbsp انتخاب مددجو &nbsp &nbsp </a></li>
            <li><a href="enseraf.html"> &nbsp &nbsp انصراف &nbsp &nbsp </a></li>
            <li><a href="letters.html"> &nbsp &nbsp نامه ها &nbsp &nbsp </a></li>
            <li><a href="vojoohepardakhti.html"> &nbsp &nbsp گزارش وجوه پرداختی &nbsp &nbsp </a></li>
            <li><a href="receipt.html"> &nbsp &nbsp لیست رسیدها &nbsp &nbsp </a></li>
            <li><a href="search.html"> &nbsp &nbsp جست و جو &nbsp &nbsp </a></li>
            <li><a href="../../MySite/templates/MySite/Chart.html"> &nbsp &nbsp خروج &nbsp &nbsp </a></li>
        </ul>
    </div>



    <div id="page-content-wrapper" class="offset8">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12">
                    <div style="background-color: white; margin: 5%; padding: 5%; border-radius: 10px; text-align: right;">
                        <h3 style="font-family: 'B Nazanin';">لیست وجوه پرداختی</h3>
                        <br>



                        <table class="table table-striped" style="align-content: right">
                            <thead>
                                <tr>
                                    <th class="text-right">تاریخ</th>
                                    <th class="text-right">مقصد</th>
                                    <th class="text-right">مبلغ</th>
                                    <th class="text-right">شناسه پرداخت</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>1/1/1</td>
                                    <td>کاربر1</td>
                                    <td>1000</td>
                                    <td>1</td>
                                </tr>
                                <tr>
                                    <td>2/2/2</td>
                                    <td>کاربر2</td>
                                    <td>2000</td>
                                    <td>2</td>
                                </tr>
                                <tr>
                                    <td>3/3/3</td>
                                    <td>کاربر3</td>
                                    <td>3000</td>
                                    <td>3</td>
                                </tr>
                            </tbody>
                        </table>

                        <!--<ul class="list-group">-->
                            <!--<li class="list-group-item"><a href="Hamyar.html" style="color: black">قلی قلوی</a> </li>-->
                            <!--<li class="list-group-item"><a href="Hamyar.html" style="color: black">علی علوی</a></li>-->
                            <!--<li class="list-group-item"><a href="Hamyar.html" style="color: black">اکرم اکرمی</a></li>-->
                        <!--</ul>-->
                    </div>
                </div>
            </div>
        </div>
    </div>



    <!--menue toggle script-->
    <script>
        $("#menu-toggle").click(function (e) {
            e.preventDefault();
            $("#wrapper").toggleClass("menuDisplayed")
        });
    </script>

</div>


</body>
</html>