
.idea/workspace.xml
.idea/workspace.xml
*.iml
db.sqlite3
*.xml
*.iml
*.pyc
db.sqlite3
madadju/__pycache__/forms.cpython-36.pyc
madadju/__pycache__/views.cpython-36.pyc
madadkar/__pycache__/urls.cpython-36.pyc
madadkar/__pycache__/views.cpython-36.pyc
modir/__pycache__/urls.cpython-36.pyc
modir/__pycache__/views.cpython-36.pyc
