<!DOCTYPE html>
<html lang="en">
<head>
    <title>{% block title %}بنیاد کودک{% endblock %}</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="../../static/hamyar/css/home.css">
    <link rel="stylesheet" href="../../static/hamyar/css/sidebar/sidebar.css">
</head>
<body style="background-color: #3f001f;">
<div id="wrapper">

    <nav class="navbar" style="border: black solid 2px; padding: 0px; margin: 0px">
        <div class="container-fluid" style="background: white; padding: 0px; margin: 0px">

            <!-- Logo -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#mainNavBar">
                    <span class="icon-bar" style="background-color: #7a0134;"></span>
                    <span class="icon-bar" style="background-color: #7a0134;"></span>
                    <span class="icon-bar" style="background-color: #7a0134;"></span>
                </button>
            </div>

            <!--Menu Items-->
            <div class="collapse navbar-collapse" id="mainNavBar">
                <ul class="nav navbar-nav navbar-left">
                    <li>
                        <a href="#" class="btn btn-success" id="menu-toggle"
                           style=" background-color:#630d31; border-color:#4d0926; font-family: 'B Mitra'; font-weight:bold; font-size: 18px; padding: 8px; margin: 8px;">منوی
                            کاربری</a>
                    </li>
                </ul>
                <span class="pull-right">
            <ul class="nav navbar-nav">
                <li><a href="{% url 'hamyar-contact' %}"
                       style="color:#7a0134; font-family: 'B Nazanin'; font-size: 20px; alignment: right;"
                       onMouseOver="this.style.color='#230007';"
                       onMouseOut="this.style.color='#7a0134'; ">ارتباط با ما</a></li>
                <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown"
               style="color:#7a0134; font-family: 'B Nazanin'; font-size: 20px; alignment: right;"
               onMouseOver="this.style.color='#230007';"
               onMouseOut="this.style.color='#7a0134';">آشنایی با بنیاد کودک <span class="caret"></span></a>
            <ul class="dropdown-menu"
                style="text-align: right; color:#7a0134; font-family: 'B Nazanin'; font-size: 20px; alignment: right;"
                onMouseOver="this.style.color='#230007'; this.style.fontWeight='bold';"
                onMouseOut="this.style.color='#7a0134'; this.style.fontWeight='normal'">
              <li><a href="{% url 'hamyar-history' %}">تاریخچه</a></li>
              <li><a href="{% url 'hamyar-chart' %}">چارت سازمانی</a></li>
              <li><a href="{% url 'hamyar-goals' %}">اهداف و دیدگاه ها</a></li>
            </ul>
            </li>
                <li class="active"><a href="{% url 'hamyar-home' %}"
                                      style="color:#7a0134; font-family: 'B Nazanin'; font-size: 20px; alignment: right;"
                                      onMouseOver="this.style.color='#230007';"
                                      onMouseOut="this.style.color='#7a0134';">بنیاد کودک</a></li>
                 <li><img src="../../static/images/cf3.png"
                          style="width: 50px; height: 50px; opacity: 0.8; padding: 5px; alignment: right;"></li>

                <!--drop down menu-->
            </ul>
                    <!--right alight-->
            </span>
            </div>

        </div>
    </nav>

    <!--sidebar-->
    <div id="sidebar-wrapper">
        <ul class="sidebar-nav" style="font-family: 'B Mitra'; font-size: 20px; text-align: right;">
            <li><a href="{% url 'pay' %}"> &nbsp &nbsp پرداخت &nbsp &nbsp </a></li>
            <li><a href="{% url 'ehda' %}"> &nbsp &nbsp هدایای غیرنقدی &nbsp &nbsp </a></li>
            <li><a href="{% url 'modir-message' %}"> &nbsp &nbsp ارسال پیام به مدیر &nbsp &nbsp </a></li>
            <li><a href="{% url 'madadjoo-contact' %}"> &nbsp &nbsp درخواست ارتباط با مددجو &nbsp &nbsp </a></li>
            <li><a href="{% url 'madadjoo-list' %}"> &nbsp &nbsp کودکان تحت حمایت &nbsp &nbsp </a></li>
            <li><a href="{% url 'enseraf' %}"> &nbsp &nbsp انصراف &nbsp &nbsp </a></li>
            <li><a href="{% url 'letters-box' %}"> &nbsp &nbsp نامه ها &nbsp &nbsp </a></li>
            <li><a href="{% url 'pay-receipt' %}"> &nbsp &nbsp گزارش وجوه پرداختی &nbsp &nbsp </a></li>
            <li><a href="{% url 'ehda-receipt' %}"> &nbsp &nbsp لیست رسیدها &nbsp &nbsp </a></li>
            <li><a href="{% url 'search' %}"> &nbsp &nbsp جست و جو &nbsp &nbsp </a></li>
            <li><a href="{% url 'edit_profile' %}">&nbsp &nbsp ویرایش اطلاعات &nbsp &nbsp</a> </li>
            <li><a href="{% url 'hamyar-logout' %}"> &nbsp &nbsp خروج &nbsp &nbsp </a></li>
        </ul>
    </div>


    {% block content %}
    {% endblock %}

    <!--menue toggle script-->
    <script>
        $("#menu-toggle").click(function (e) {
            e.preventDefault();
            $("#wrapper").toggleClass("menuDisplayed")
        });
    </script>

</div>


</body>
</html>