

{% block title %}
    جست و جو
{% endblock %}

{% block content %}

    <div id="page-content-wrapper" class="offset8">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12">
                    <div style="background-color: white; margin: 5%; padding: 5%; border-radius: 10px; text-align: right;">
                        <h3 style="font-family: 'B Nazanin';">لیست وجوه پرداختی</h3>
                        <br>

                        <form action="" method="post" style="direction: rtl">{% csrf_token %}


                            <center>
                                <div class="form-group">
                                    <select style="width: 500px" dir="rtl" class="form-control" id="gender"
                                            name="gender">
                                        <option value="0">جنسیت...</option>
                                        <option value="زن">دختر</option>
                                        <option value="مرد">پسر</option>
                                    </select>
                                </div>
                            </center>

                            <center>
                                <div class="form-group">
                                    <select style="width: 500px" dir="rtl" class="form-control" id="fromage"
                                            name="fromage">
                                        <option value="0">از سن</option>
                                        <option value="1">1</option>
                                        <option value="2">2</option>
                                        <option value="3">3</option>
                                        <option value="4">4</option>
                                        <option value="5">5</option>
                                        <option value="6">6</option>
                                        <option value="7">7</option>
                                        <option value="8">8</option>
                                        <option value="9">9</option>
                                        <option value="10">10</option>
                                        <option value="11">11</option>
                                        <option value="12">12</option>
                                        <option value="13">13</option>
                                        <option value="14">14</option>
                                        <option value="15">15</option>
                                        <option value="16">16</option>
                                        <option value="17">17</option>
                                        <option value="18">18</option>
                                    </select>
                                </div>
                            </center>

                            <center>
                                <div class="form-group">
                                    <select style="width: 500px" dir="rtl" class="form-control" id="toage" name="toage">
                                        <option value="0">تا سن</option>
                                        <option value="1">1</option>
                                        <option value="2">2</option>
                                        <option value="3">3</option>
                                        <option value="4">4</option>
                                        <option value="5">5</option>
                                        <option value="6">6</option>
                                        <option value="7">7</option>
                                        <option value="8">8</option>
                                        <option value="9">9</option>
                                        <option value="10">10</option>
                                        <option value="11">11</option>
                                        <option value="12">12</option>
                                        <option value="13">13</option>
                                        <option value="14">14</option>
                                        <option value="15">15</option>
                                        <option value="16">16</option>
                                        <option value="17">17</option>
                                        <option value="18">18</option>
                                    </select>
                                </div>
                            </center>

                            <center>
                                <div class="form-group">
                                    <select style="width: 500px" dir="rtl" class="form-control" id="physical_state"
                                            name="physical_state">
                                        <option value="0">وضعیت جسمی...</option>
                                        <option value="سالم">سالم</option>
                                        <option value="بیمار">بیمار</option>
                                        <option value="معلول">معلول</option>
                                        <option value="ناشنوا">ناشنوا</option>
                                        <option value="سرطانی">سرطانی</option>
                                        <option value="نابینا">نابینا</option>
                                        <option value="نیمه بینا">نیمه بینا</option>
                                    </select>
                                </div>
                            </center>


                            <center>
                                <div class="form-group">
                                    <select dir="rtl" style="width: 500px" class="form-control text-right" id="city" ,
                                            name="city">
                                        <option class="text-right" value="0">استان...</option>
                                        <option value="آذربایجان غربی">آذربایجان غربی</option>
                                        <option value="آذربایجان شرقی">آذربایجان شرقی</option>
                                        <option value="اردبیل">اردبیل</option>
                                        <option value="اصفهان">اصفهان</option>
                                        <option value="البرز">البرز</option>
                                        <option value="ایلام">ایلام</option>
                                        <option value="بوشهر">بوشهر</option>
                                        <option value="تهران">تهران</option>
                                        <option value="چهار محال بختیاری">چهار محال بختیاری</option>
                                        <option value="خراسان جنوبی">خراسان جنوبی</option>
                                        <option value="خراسان رضوی">خراسان رضوی</option>
                                        <option value="خراسان شمالی">خراسان شمالی</option>
                                        <option value="خوزستان">خوزستان</option>
                                        <option value="زنجان">زنجان</option>
                                        <option value="سمنان">سمنان</option>
                                        <option value="سیستان و بلوچستان">سیستان و بلوچستان</option>
                                        <option value="فارس">فارس</option>
                                        <option value="قزوین">قزوین</option>
                                        <option value="قم">قم</option>
                                        <option value="کردستان">کردستان</option>
                                        <option value="کرمان">کرمان</option>
                                        <option value="کرمانشاه">کرمانشاه</option>
                                        <option value="کهگیوله و بویر احمد">کهگیوله و بویر احمد</option>
                                        <option value="گلستان">گلستان</option>
                                        <option value="یگیلان">گیلان</option>
                                        <option value="لرستان">لرستان</option>
                                        <option value="مازندران">مازندران</option>
                                        <option value="مرکزی">مرکزی</option>
                                        <option value="هرمزگان">هرمزگان</option>
                                        <option value="همدان">همدان</option>
                                        <option value="یزد">یزد</option>
                                    </select>
                                </div>
                            </center>


                            <input type="submit" name="submit" tabindex="4"
                                   class="form-control btn btn-login" value="جست و جو" placeholder="جست و جو">

                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}