<!DOCTYPE html>
<html lang="en">
<head>
    <title>تاریخچه</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="../sidebar/sidebar.css">
    <link rel="stylesheet" href="../../modir/static/modir/css/home.css">
</head>
<body style="background-color: #3f001f;">


<div id="wrapper">

    <nav class="navbar" style="border: black solid 2px; padding: 0px; margin: 0px">
        <div class="container-fluid" style="background: white; padding: 0px; margin: 0px">

            <!-- Logo -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#mainNavBar">
                    <span class="icon-bar" style="background-color: #7a0134;"></span>
                    <span class="icon-bar" style="background-color: #7a0134;"></span>
                    <span class="icon-bar" style="background-color: #7a0134;"></span>
                </button>
            </div>

            <!--Menu Items-->
            <div class="collapse navbar-collapse" id="mainNavBar">
                <ul class="nav navbar-nav navbar-left">
                    <li>
                        <a href="#" class="btn btn-success" id="menu-toggle"
                           style=" background-color:#630d31; border-color:#4d0926; font-family: 'B Mitra'; font-weight:bold; font-size: 18px; padding: 8px; margin: 8px;">منوی
                            کاربری</a>
                    </li>
                </ul>
                <span class="pull-right">
            <ul class="nav navbar-nav">
                <li><a href="madadju-contact.html" style="color:#7a0134; font-family: 'B Nazanin'; font-size: 20px; alignment: right;"
                       onMouseOver="this.style.color='#230007';"
                       onMouseOut="this.style.color='#7a0134'; ">ارتباط با ما</a></li>
                <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown"
               style="color:#7a0134; font-family: 'B Nazanin'; font-size: 20px; alignment: right;"
               onMouseOver="this.style.color='#230007';"
               onMouseOut="this.style.color='#7a0134';">آشنایی با بنیاد کودک <span class="caret"></span></a>
            <ul class="dropdown-menu"
                style="text-align: right; color:#7a0134; font-family: 'B Nazanin'; font-size: 20px; alignment: right;"
                onMouseOver="this.style.color='#230007'; this.style.fontWeight='bold';"
                onMouseOut="this.style.color='#7a0134'; this.style.fontWeight='normal'">
              <li><a href="madadju-history.html">تاریخچه</a></li>
              <li><a href="madadju-chart.html">چارت سازمانی</a></li>
              <li><a href="madadju-goals.html">اهداف و دیدگاه ها</a></li>
            </ul>
            </li>
                <li class="active"><a href="madadju.html"
                                      style="color:#7a0134; font-family: 'B Nazanin'; font-size: 20px; alignment: right;"
                                      onMouseOver="this.style.color='#230007';"
                                      onMouseOut="this.style.color='#7a0134';">بنیاد کودک</a></li>
                 <li><img src="../../modir/static/modir/images/cf3.png"
                          style="width: 50px; height: 50px; opacity: 0.8; padding: 5px; alignment: right;"></li>

                <!--drop down menu-->
            </ul>
                    <!--right alight-->
            </span>
            </div>

        </div>
    </nav>
        <!--sidebar-->
    <div id="sidebar-wrapper">
        <ul class="sidebar-nav" style="font-family: 'B Mitra'; font-size: 20px; text-align: right;">
            <li><a href="sendmsg.html" style="text-:10px"> &nbsp &nbsp ارسال پیام &nbsp &nbsp </a></li>
            <li><a href="sendreq.html"> &nbsp &nbsp ارسال درخواست &nbsp &nbsp </a></li>
            <li><a href="madadkarchange.html"> &nbsp &nbsp تغییر مددکار &nbsp &nbsp </a></li>
            <li><a href="../../MySite/templates/MySite/Home.html"> &nbsp &nbsp خروج &nbsp &nbsp </a></li>
        </ul>
    </div>
    <div class="modal fade" id="Login">
            <div class="modal-dialog">
                <div class="modal-content">

                    <!-- header -->
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h3 class="modal-title text-right">ورود</h3>
                    </div>

                    <!-- body (form) -->
                    <div class="modal-body">
                        <form role="form">
                            <div class="form-group">
                                <input type="text" class="form-control text-right"
                                       placeholder="نام کاربری">
                            </div>
                            <div class="form-group">
                                <input type="password" class="form-control text-right"
                                       placeholder="رمز عبور">
                            </div>

                        </form>
                    </div>

                    <!-- button -->
                    <div class="modal-footer">
                        <button class="btn btn-primary btn-block" style="background: #850032">ورود</button>
                    </div>

                </div>
            </div>
        </div>
    <div class="modal fade" id="Register">
            <div class="modal-dialog">
                <div class="modal-content">

                    <!-- header -->
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h3 class="modal-title text-right">ثبت نام همیار</h3>
                    </div>

                    <!-- body (form) -->
                    <div class="modal-body">
                        <form role="form">
                            <div class="form-group">
                                <input type="text" class="form-control text-right"
                                       placeholder="نام و نام‌خانوادگی">
                            </div>
                            <div class="form-group">
                                <input type="email" class="form-control text-right"
                                       placeholder="آدرس پست الکترونیکی">
                            </div>
                            <div class="form-group">
                                <input type="tel" class="form-control text-right"
                                       placeholder="شماره تماس">
                            </div>
                            <div class="form-group">
                                <input type="text" class="form-control text-right"
                                       placeholder="نام کاربری">
                            </div>
                            <div class="form-group">
                                <input type="password" class="form-control text-right"
                                       placeholder="کلمه عبور">
                            </div>
                        </form>
                    </div>

                    <!-- button -->
                    <div class="modal-footer">
                        <button class="btn btn-primary btn-block" style="background: #850032">ثبت نام</button>
                    </div>

                </div>
            </div>
        </div>

    <!--page content-->
    <div id="page-content-wrapper" class="offset8">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12">
                    <div style="background-color: white; margin: 5%; padding: 5%; border-radius: 10px;">
                        <h1 class="text-right" id="bonyad">تاریخچه</h1>
                        <img src="../../modir/static/modir/images/history.JPG" class="img-responsive" style="margin: 50px auto">
                        <p class="text-right" id="mashi">بنیادکودک از سال 1373 در ایران و آمریکا فعالیت خود را آغاز کرده‌‌است. این مؤسسه در ایران با نام "مؤسسه خیریه رفاه‌ کودک" و در آمریکا با نام "Child Foundation" به ثبت رسیده‌است. درسال 1378 بنیادکودک در ایران ثبت‌ رسمی شد و از ثبت شرکت‌ها در شیراز مجوزی به شماره 398 دریافت کرد. سپس دفترمرکزی بنیادکودک از شیراز به تهران منتقل ‌شد و پس از انتقال رسمی اسناد، مجدداً از ثبت شرکت‌ها در سال 1388 مجوزی به شماره 25540 دریافت‌کرد.
این مؤسسه، یک مؤسسه خیریه مردم‌نهاد، غیردولتی، غیرسیاسی، غیرانتفاعی، فرامذهبی و فرامرزی است که رویکردی کاملاً انسان‌دوستانه دارد. هدف این مؤسسه دستیابی به این آرمان است که "هیچ دانش‌آموز با استعدادی به دلیل مشکلات اقتصادی از تحصیل و تلاش باز نماند."
این مؤسسه با دریافت مجوزملی از وزارت کشور توانست دامنه‌ی فعالیت خود را به‌ بسیاری از استان‌ها بگستراند و اینک 28 نمایندگی در آمل، اردبیل، اهواز، ارومیه، ایلام، اصفهان، بروجرد، بم، بوشهر، بیرجند، تبریز، تهران، جیرفت، داراب، رشت، زاهدان، زابل، سنندج، شیراز، شهرکرد، کاشان، کرمانشاه، کرج، مراغه، مشهد، مهاباد، یاسوج و یزد دارد. ضمن اینکه در برخی از استان‌ها به‌ فراخور شرایط اقتصادی و جغرافیایی نمایندگی‌های اقماری نیز فعال شده که از آن جمله می‌توان به خاش، ایرانشهر، فنوج، نیک‌شهر، سراوان در سیستان و بلوچستان، کفران در اصفهان، مرودشت و جهرم در فارس، شهربابک، ریگان و رستم‌آباد در بم، اشاره‌ کرد.
بنیادکودک با ایجاد شعب برون‌مرزی خود توانست رابطه‌ای عاطفی بین ایرانیان مقیم خارج از کشور را با هموطنانشان در ایران سبب‌‌شود. شعب بین‌المللی بنیاد در کشورهای آمریکا، سوئیس، آلمان، انگلیس، سوئد و کانادا مشغول به فعالیت هستند.
بنیادکودک از آغازِ فعالیت تاکنون توانسته‌است بیش از دوازده‌هزار دانش‌آموز و به تبع آن خانواده‌های آنها را تحت حمایت قراردهد و امروز نیز بیش از 9000 دانش‌آموز را در سراسر ایران حمایت می‌کند که حدود هزارنفر از این دانش‌آموزان توانسته‌اند به دانشگاه‌های کشور وارد شوند.
از آنجا که بنیادکودک از ابتدای فعالیت خود معتقد به عملکردی فراگیر، پیشرو، مدرن، پاسخگو و شفاف بوده‌است، همواره در جهت توسعه فناوری اطلاعات بسیار کوشیده‌است. پس با اعتقاد به این رویکرد متناسب با نیاز، اهداف، چشم‌انداز و... نسبت به طراحی یک نرم‌افزار جامع تحت وب به نام وندا اقدام‌کرد و در سال 87 به‌طور رسمی از این نرم‌افزار بهره‌برداری شد و از آن پس تمامی اطلاعات دانش‌آموزان، همیاران، همکاران، مالی و... بر روی این نرم‌افزار قرارگرفت و این نرم‌افزار توانست جامعه‌ جهانی بنیادکودک را به یک دهکده‌ی اطلاعاتی و ارتباطی تبدیل‌کند.
بنیادکودک برای بیان فعالیت شفاف خود از سال 81 از حسابرسان رسمی دعوت به‌عمل آورد تا گردش مالی مؤسسه موردحسابرسی قرارگیرد.
بنیادکودک در سال 2005 توانست از کمیسیون اقتصادی- اجتماعی سازمان ملل (Ecosoc) مقام مشورتی دریافت‌کند و تاکنون نیز هر پنج سال یک‌بار با ارائه‌ی عملکرد شفاف و انسان‌دوستانه‌ی خود موفق شده‌است این گواهینامه را تمدید کند.
همچنین این مؤسسه در سال 86 موفق به کسب مجوز معافیت مالیاتی از هیأت دولت شد که مبتنی بر این مجوز همیاران می‌توانند کمک‌های خود را در قالب هزینه‌های قابل‌ قبول مالیاتی به سازمان امور مالیاتی ارائه‌کنند.
                        </p>
                        <br>

                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--menue toggle script-->
    <script>
        $("#menu-toggle").click(function (e) {
            e.preventDefault();
            $("#wrapper").toggleClass("menuDisplayed")
        });
    </script>

</div>


</body>
</html>