<!DOCTYPE html>
<html lang="en">
<head>
    <title>ارسال درخواست</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="../sidebar/sidebar.css">
</head>
<body style="background-color: #3f001f;">


<div id="wrapper">
    <nav class="navbar" style="border: black solid 2px; padding: 0px; margin: 0px">
        <div class="container-fluid" style="background: white; padding: 0px; margin: 0px">

            <!-- Logo -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#mainNavBar">
                    <span class="icon-bar" style="background-color: #7a0134;"></span>
                    <span class="icon-bar" style="background-color: #7a0134;"></span>
                    <span class="icon-bar" style="background-color: #7a0134;"></span>
                </button>
            </div>

            <!--Menu Items-->
            <div class="collapse navbar-collapse" id="mainNavBar">
                <ul class="nav navbar-nav navbar-left">
                    <li>
                        <a href="#" class="btn btn-success" id="menu-toggle"
                           style=" background-color:#630d31; border-color:#4d0926; font-family: 'B Mitra'; font-weight:bold; font-size: 18px; padding: 8px; margin: 8px;">منوی
                            کاربری</a>
                    </li>
                </ul>
                <span class="pull-right">
            <ul class="nav navbar-nav">
                <li><a href="madadju-contact.html"
                       style="color:#7a0134; font-family: 'B Nazanin'; font-size: 20px; alignment: right;"
                       onMouseOver="this.style.color='#230007';"
                       onMouseOut="this.style.color='#7a0134'; ">ارتباط با ما</a></li>
                <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown"
               style="color:#7a0134; font-family: 'B Nazanin'; font-size: 20px; alignment: right;"
               onMouseOver="this.style.color='#230007';"
               onMouseOut="this.style.color='#7a0134';">آشنایی با بنیاد کودک <span class="caret"></span></a>
            <ul class="dropdown-menu"
                style="text-align: right; color:#7a0134; font-family: 'B Nazanin'; font-size: 20px; alignment: right;"
                onMouseOver="this.style.color='#230007'; this.style.fontWeight='bold';"
                onMouseOut="this.style.color='#7a0134'; this.style.fontWeight='normal'">
              <li><a href="madadju-history.html">تاریخچه</a></li>
              <li><a href="madadju-chart.html">چارت سازمانی</a></li>
              <li><a href="madadju-goals.html">اهداف و دیدگاه ها</a></li>
            </ul>
            </li>
                <li class="active"><a href="madadju.html"
                                      style="color:#7a0134; font-family: 'B Nazanin'; font-size: 20px; alignment: right;"
                                      onMouseOver="this.style.color='#230007';"
                                      onMouseOut="this.style.color='#7a0134';">بنیاد کودک</a></li>
                 <li><img src="../../modir/static/modir/images/cf3.png"
                          style="width: 50px; height: 50px; opacity: 0.8; padding: 5px; alignment: right;"></li>

                <!--drop down menu-->
            </ul>
                    <!--right alight-->
            </span>
            </div>

        </div>
    </nav>
    <!--sidebar-->
    <div id="sidebar-wrapper">
        <ul class="sidebar-nav" style="font-family: 'B Mitra'; font-size: 20px; text-align: right;">
            <li><a href="sendmsg.html" style="text-:10px"> &nbsp &nbsp ارسال پیام &nbsp &nbsp </a></li>
            <li><a href="sendreq.html"> &nbsp &nbsp ارسال درخواست &nbsp &nbsp </a></li>
            <li><a href="madadkarchange.html"> &nbsp &nbsp تغییر مددکار &nbsp &nbsp </a></li>
            <li><a href="../../MySite/templates/MySite/Home.html"> &nbsp &nbsp خروج &nbsp &nbsp </a></li>
        </ul>
    </div>


    <div id="page-content-wrapper" class="offset8">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12">
                    <div style="background-color: white; margin: 5%; padding: 5%; border-radius: 10px; text-align: right;">
                        <h1 style="font-family: 'B Nazanin';">ارسال درخواست</h1>
                        <br>
                        <form>
                            <p style="font-size: 24px; font-family: 'B Nazanin'; color: #4d0926; ">
                                عنوان درخواست
                                <br>
                                <input type="text" align="right" style="border-radius: 8px; border-style: ridge;">
                                <br>
                                <br>
                                گیرنده
                                <br>
                                <select style="border-radius: 8px; border-style: ridge;">
                                    <option>
                                        مددکار
                                    </option>
                                    <option>
                                        مدیر
                                    </option>
                                </select>
                                <br><br>
                                متن درخواست
                                <br>
                                <textarea style="text-align: right; border-radius: 8px; border-style: ridge;" rows="10"
                                          cols="30"></textarea>
                                <br>
                                <button type="submit" name="submit"
                                        style="color: white; background-color: rgba(121,7,75,0.8); border-radius: 10px; font-size: 28px;">
                                    ثبت
                                </button>
                            </p>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <script>
            $("#menu-toggle").click(function (e) {
                e.preventDefault();
                $("#wrapper").toggleClass("menuDisplayed")
            });
        </script>
    </div>

</body>
</html>