{% extends 'madadkar/madadkar-base.html' %}

{% block title %}
    تاریخچه
{% endblock %}



{% block content %}
<!--page content-->
    <div id="page-content-wrapper" class="offset8">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12">
                    <div style="background-color: white; margin: 5%; padding: 5%; border-radius: 10px;">
                        <h1 class="text-right" id="bonyad">تاریخچه</h1>
                        <img src="../../static/images/history.JPG" class="img-responsive" style="margin: 50px auto">
                        <p class="text-right" id="mashi">بنیادکودک از سال 1373 در ایران و آمریکا فعالیت خود را آغاز کرده‌‌است. این مؤسسه در ایران با نام "مؤسسه خیریه رفاه‌ کودک" و در آمریکا با نام "Child Foundation" به ثبت رسیده‌است. درسال 1378 بنیادکودک در ایران ثبت‌ رسمی شد و از ثبت شرکت‌ها در شیراز مجوزی به شماره 398 دریافت کرد. سپس دفترمرکزی بنیادکودک از شیراز به تهران منتقل ‌شد و پس از انتقال رسمی اسناد، مجدداً از ثبت شرکت‌ها در سال 1388 مجوزی به شماره 25540 دریافت‌کرد.
این مؤسسه، یک مؤسسه خیریه مردم‌نهاد، غیردولتی، غیرسیاسی، غیرانتفاعی، فرامذهبی و فرامرزی است که رویکردی کاملاً انسان‌دوستانه دارد. هدف این مؤسسه دستیابی به این آرمان است که "هیچ دانش‌آموز با استعدادی به دلیل مشکلات اقتصادی از تحصیل و تلاش باز نماند."
این مؤسسه با دریافت مجوزملی از وزارت کشور توانست دامنه‌ی فعالیت خود را به‌ بسیاری از استان‌ها بگستراند و اینک 28 نمایندگی در آمل، اردبیل، اهواز، ارومیه، ایلام، اصفهان، بروجرد، بم، بوشهر، بیرجند، تبریز، تهران، جیرفت، داراب، رشت، زاهدان، زابل، سنندج، شیراز، شهرکرد، کاشان، کرمانشاه، کرج، مراغه، مشهد، مهاباد، یاسوج و یزد دارد. ضمن اینکه در برخی از استان‌ها به‌ فراخور شرایط اقتصادی و جغرافیایی نمایندگی‌های اقماری نیز فعال شده که از آن جمله می‌توان به خاش، ایرانشهر، فنوج، نیک‌شهر، سراوان در سیستان و بلوچستان، کفران در اصفهان، مرودشت و جهرم در فارس، شهربابک، ریگان و رستم‌آباد در بم، اشاره‌ کرد.
بنیادکودک با ایجاد شعب برون‌مرزی خود توانست رابطه‌ای عاطفی بین ایرانیان مقیم خارج از کشور را با هموطنانشان در ایران سبب‌‌شود. شعب بین‌المللی بنیاد در کشورهای آمریکا، سوئیس، آلمان، انگلیس، سوئد و کانادا مشغول به فعالیت هستند.
بنیادکودک از آغازِ فعالیت تاکنون توانسته‌است بیش از دوازده‌هزار دانش‌آموز و به تبع آن خانواده‌های آنها را تحت حمایت قراردهد و امروز نیز بیش از 9000 دانش‌آموز را در سراسر ایران حمایت می‌کند که حدود هزارنفر از این دانش‌آموزان توانسته‌اند به دانشگاه‌های کشور وارد شوند.
از آنجا که بنیادکودک از ابتدای فعالیت خود معتقد به عملکردی فراگیر، پیشرو، مدرن، پاسخگو و شفاف بوده‌است، همواره در جهت توسعه فناوری اطلاعات بسیار کوشیده‌است. پس با اعتقاد به این رویکرد متناسب با نیاز، اهداف، چشم‌انداز و... نسبت به طراحی یک نرم‌افزار جامع تحت وب به نام وندا اقدام‌کرد و در سال 87 به‌طور رسمی از این نرم‌افزار بهره‌برداری شد و از آن پس تمامی اطلاعات دانش‌آموزان، همیاران، همکاران، مالی و... بر روی این نرم‌افزار قرارگرفت و این نرم‌افزار توانست جامعه‌ جهانی بنیادکودک را به یک دهکده‌ی اطلاعاتی و ارتباطی تبدیل‌کند.
بنیادکودک برای بیان فعالیت شفاف خود از سال 81 از حسابرسان رسمی دعوت به‌عمل آورد تا گردش مالی مؤسسه موردحسابرسی قرارگیرد.
بنیادکودک در سال 2005 توانست از کمیسیون اقتصادی- اجتماعی سازمان ملل (Ecosoc) مقام مشورتی دریافت‌کند و تاکنون نیز هر پنج سال یک‌بار با ارائه‌ی عملکرد شفاف و انسان‌دوستانه‌ی خود موفق شده‌است این گواهینامه را تمدید کند.
همچنین این مؤسسه در سال 86 موفق به کسب مجوز معافیت مالیاتی از هیأت دولت شد که مبتنی بر این مجوز همیاران می‌توانند کمک‌های خود را در قالب هزینه‌های قابل‌ قبول مالیاتی به سازمان امور مالیاتی ارائه‌کنند.
                        </p>
                        <br>

                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}