<!DOCTYPE html>
<html lang="en">
<head>
    <title>{% block title %}بنیاد کودک{% endblock %}</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="../../static/css/home.css">
    <link rel="stylesheet" href="../../static/css/sidebar/sidebar.css">
    <link rel="stylesheet" href="../../../modir/static/modir/css/home.css">
</head>
<body style="background-color: #3f001f;">


<div id="wrapper">

    <nav class="navbar" style="border: black solid 2px; padding: 0px; margin: 0px">
        <div class="container-fluid" style="background: white; padding: 0px; margin: 0px">

            <!-- Logo -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#mainNavBar">
                    <span class="icon-bar" style="background-color: #7a0134;"></span>
                    <span class="icon-bar" style="background-color: #7a0134;"></span>
                    <span class="icon-bar" style="background-color: #7a0134;"></span>
                </button>
            </div>

            <!--Menu Items-->
            <div class="collapse navbar-collapse" id="mainNavBar">
                <ul class="nav navbar-nav navbar-left">
                    <li>
                        <a href="#" class="btn btn-success" id="menu-toggle"
                           style=" background-color:#630d31; border-color:#4d0926; font-family: 'B Mitra'; font-weight:bold; font-size: 18px; padding: 8px; margin: 8px;">منوی
                            کاربری</a>
                    </li>
                </ul>
                <span class="pull-right">
            <ul class="nav navbar-nav">
                <li><a style="color:#7a0134; font-family: 'B Nazanin'; font-size: 20px; alignment: right;"
                       onMouseOver="this.style.color='#230007';"
                       onMouseOut="this.style.color='#7a0134'; " href={% url 'madadkar-contact' %} >ارتباط با ما</a></li>
                <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown"
               style="color:#7a0134; font-family: 'B Nazanin'; font-size: 20px; alignment: right;"
               onMouseOver="this.style.color='#230007';"
               onMouseOut="this.style.color='#7a0134';">آشنایی با بنیاد کودک <span class="caret"></span></a>
            <ul class="dropdown-menu"
                style="text-align: right; color:#7a0134; font-family: 'B Nazanin'; font-size: 20px; alignment: right;"
                onMouseOver="this.style.color='#230007'; this.style.fontWeight='bold';"
                onMouseOut="this.style.color='#7a0134'; this.style.fontWeight='normal'">
              <li><a href={% url 'madadkar-history' %}>تاریخچه</a></li>
              <li><a href={% url 'madadkar-chart' %}>چارت سازمانی</a></li>
              <li><a href={% url 'madadkar-goals' %}>اهداف و دیدگاه ها</a></li>
            </ul>
            </li>
                <li class="active"><a style="color:#7a0134; font-family: 'B Nazanin'; font-size: 20px; alignment: right;"
                                      onMouseOver="this.style.color='#230007';"
                                      onMouseOut="this.style.color='#7a0134';" href={% url 'madadkar-home' %}>بنیاد کودک</a></li>
                 <li><img src="../../static/images/cf3.png"
                          style="width: 50px; height: 50px; opacity: 0.8; padding: 5px; alignment: right;"></li>

                <!--drop down menu-->
            </ul>
                    <!--right alight-->
            </span>
            </div>

        </div>
    </nav>

<!--sidebar-->
    <div id="sidebar-wrapper">
        <ul class="sidebar-nav" style="font-family: 'B Mitra'; font-size: 20px; text-align: right;">
            <li><a href={% url 'madadkar-madadju-register' %} style="text-:10px"> &nbsp &nbsp ثبت مددجو &nbsp &nbsp </a></li>
            <li><a href={% url 'taaligh' %}> &nbsp &nbsp تعلیق مددجو &nbsp &nbsp </a></li>
            <li><a href={% url 'success' %}> &nbsp &nbsp به روزرسانی موفقیتها و دستآوردها&nbsp &nbsp </a></li>
            <li><a href={% url 'madadkar-edit-madadju' %}> &nbsp &nbsp به روزرسانی وضعیت مددجو &nbsp &nbsp </a></li>
            <li><a href={% url 'report' %}> &nbsp &nbsp ثبت گزارش &nbsp &nbsp </a></li>
            <li><a href={%  url 'editneed' %}> &nbsp &nbsp تغییر نیاز مددجو &nbsp &nbsp </a></li>
            <li><a href={% url 'seereq' %} > &nbsp &nbsp بررسی درخواستها &nbsp &nbsp </a></li>
            <li><a href="#"> &nbsp &nbsp جست و جوی مددجو &nbsp &nbsp </a></li>
            <li><a href={% url 'instantneed' %}> &nbsp &nbsp افزودن نیاز فوری &nbsp &nbsp </a></li>
            <li><a href={% url 'managesaving' %}> &nbsp &nbsp مدیریت پس انداز مددجو &nbsp &nbsp </a></li>
            <li><a href={% url 'receipt' %}> &nbsp &nbsp ارسال رسید &nbsp &nbsp </a></li>
            <li><a href={% url 'seemsg' %}> &nbsp &nbsp صندوق پیامها &nbsp &nbsp </a></li>
            <li><a href="#"> &nbsp &nbsp خروج &nbsp &nbsp </a></li>
        </ul>
    </div>
    <div class="modal fade" id="Login">
            <div class="modal-dialog">
                <div class="modal-content">

                    <!-- header -->
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h3 class="modal-title text-right">ورود</h3>
                    </div>

                    <!-- body (form) -->
                    <div class="modal-body">
                        <form role="form">
                            <div class="form-group">
                                <input type="text" class="form-control text-right"
                                       placeholder="نام کاربری">
                            </div>
                            <div class="form-group">
                                <input type="password" class="form-control text-right"
                                       placeholder="رمز عبور">
                            </div>

                        </form>
                    </div>

                    <!-- button -->
                    <div class="modal-footer">
                        <button class="btn btn-primary btn-block" style="background: #850032">ورود</button>
                    </div>

                </div>
            </div>
        </div>
    <div class="modal fade" id="Register">
            <div class="modal-dialog">
                <div class="modal-content">

                    <!-- header -->
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h3 class="modal-title text-right">ثبت نام همیار</h3>
                    </div>

                    <!-- body (form) -->
                    <div class="modal-body">
                        <form role="form">
                            <div class="form-group">
                                <input type="text" class="form-control text-right"
                                       placeholder="نام و نام‌خانوادگی">
                            </div>
                            <div class="form-group">
                                <input type="email" class="form-control text-right"
                                       placeholder="آدرس پست الکترونیکی">
                            </div>
                            <div class="form-group">
                                <input type="tel" class="form-control text-right"
                                       placeholder="شماره تماس">
                            </div>
                            <div class="form-group">
                                <input type="text" class="form-control text-right"
                                       placeholder="نام کاربری">
                            </div>
                            <div class="form-group">
                                <input type="password" class="form-control text-right"
                                       placeholder="کلمه عبور">
                            </div>
                        </form>
                    </div>

                    <!-- button -->
                    <div class="modal-footer">
                        <button class="btn btn-primary btn-block" style="background: #850032">ثبت نام</button>
                    </div>

                </div>
            </div>
        </div>

    <!--page content-->
{% comment %}    <div id="page-content-wrapper" class="offset8">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12">
                    <div style="background-color: white; margin: 5%; padding: 5%; border-radius: 10px;">
                        <h1 class="text-right" id="bonyad">بنیاد خیریه کودکان</h1>
                        <img src="../static/images/kids.jpg" class="img-responsive" style="margin: 50px auto">
                        <p class="text-right" id="mashi"> خط مشی موسسه خیریه رفاه کودک، بر اهمیت به تحصیل و آموزش استوار بوده است. این موسسه تلاش می‌کند تا با حفظ شان انسانی دانش آموزان، از «نیازمند پروری»، پرهیز کند و آن‌ها را در ساختن آینده‌ای با چشم اندازهای روشن یاری کند. بنیاد کودک ایران، یک سازمان غیر انتفاعی و غیردولتی است و این ویژگی بخش جدایی ناپذیر خط مشی موسسه خیریه رفاه کودک بوده و خواهد بود و در هیچ شرایطی از هرگونه اقدامی که با این ویژگی مطابقت نداشته باشد، استقبال نخواهد کرد. البته همیاران بنیاد کودک ایران، می‌توانند از هر قشر، هر ملیت و با هر مرام سیاسی و مذهبی باشند. اما موسسه هیچگونه اقدام و یا جهت گیری، علیه گروه خاصی را، نخواهد پذیرفت. هر گونه همیاری مادی یا معنوی نیز با احترام به نیت خیر فرد یا سازمان ارائه دهنده، که با هدفی غیر از کمک به دانش آموزان نیازمند باشد، پذیرفته نخواهد شد.</p>
                        <br>
                        <h1 class="text-right" id="haminan">حامیان طلایی بنیاد</h1>
                        <ul id="hamian-list">
                            <li><a href="http://www.samansat.ir/"><img src="../static/images/logo1.png"></a></li>
                            <li><a href="http://cookma.ir/Home/Preview/41378"><img src="../static/images/logo2.jpg"></a></li>
                            <li><a href="http://www.behpardakht.com/"><img src="../static/images/logo3.jpg"></a></li>
                            <li><a href="http://www.nibb.ir/#!/home"><img src="../static/images/logo4.bmp"></a></li>
                            <li><a href="http://www.sb24.com/"><img src="../static/images/logo5.jpg"></a></li>
                            <li><a href="http://www.mapnagroup.com//"><img src="../static/images/logo6.jpg"></a></li>
                        </ul>

                    </div>
                </div>
            </div>
        </div>
    </div>{% endcomment %}


    {% block content %}
    {% endblock %}

    <!--menue toggle script-->
    <script>
        $("#menu-toggle").click(function (e) {
            e.preventDefault();
            $("#wrapper").toggleClass("menuDisplayed")
        });
    </script>

</div>


</body>
</html>