{% extends 'madadkar/madadkar-base.html' %}

{% block title %}
    مشاهده پیام ها
{% endblock %}



{% block content %}
<div id="page-content-wrapper" class="offset8">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12">
                    <div style="background-color: white;  margin: 5%; padding: 5%; border-radius: 10px; text-align: right; font-family:'B Nazanin'; font-size: 25px; color: #3f001f;">
                       <h1 style="font-family: 'B Nazanin';">صندوق پیغام ها</h1>
                        <br>
                        <center>
                        <table class="table-hover" style="border-color: #635259; border-radius: 3px; border-style: ridge; border-spacing: 2px; stroke: 2px; border-width: 2px; ">
                            <thead>
                            <tr style="border-bottom-color: #635259; border-bottom-width: 1px; border-bottom-style: solid;">
                                <td><span style="padding: 20px; margin: 20px; color: black;"> عنوان پیام</span></td>
                                <td><span style="padding: 20px; margin: 20px; color: black;">فرستنده پیام</span></td>
                            </tr>
                            </thead>
                            <tbody></tbody>
                            <tr>
                                <td><span style="padding: 20px; margin: 20px;"> <a href="#popUpWindow" data-toggle="modal" data-target="#popUpWindow">عنوان</a></span></td>
                                <td><span style="padding: 20px; margin: 20px;">فرستنده</span></td>
                            </tr>
                            <tr>
                                <td><span style="padding: 20px; margin: 20px;"> <a href="#popUpWindow" data-toggle="modal" data-target="#popUpWindow">عنوان</a></span></td>
                                <td><span style="padding: 20px; margin: 20px;">فرستنده</span></td>
                            </tr>
                            <tr>
                                <td><span style="padding: 20px; margin: 20px;"> <a href="#popUpWindow" data-toggle="modal" data-target="#popUpWindow">عنوان</a></span></td>
                                <td><span style="padding: 20px; margin: 20px;">فرستنده</span></td>
                            </tr>
                            </tbody>
                        </table>
                            </center>
                    </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="popUpWindow">
                            <div class="modal-dialog">
                                <div class="modal-content">

                                    <!-- header -->
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                                        <h3 class="modal-title text-right">مشاهده پیفام</h3>
                                    </div>

                                    <!-- body (form) -->
                                    <div class="modal-body">
                                        <form role="form">
                                            <div class="form-group" style="text-align: right;">
                                                عنوان پیغام
                                            </div>
                                            <div class="form-group text-right">
                                                <label for="comment">متن پیغام</label><br>
                                                متن متن متن
                                            </div>

                                        </form>
                                    </div>

                                </div>
                            </div>
                        </div>

{% endblock %}