{% extends 'madadju/madadju-base.html' %}

{% block title %}
    بنیاد کودک
{% endblock %}



{% block content %}
    <!--page content-->
    <div id="page-content-wrapper" class="offset8">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12">
                    <div style="background-color: white; margin: 5%; padding: 5%; border-radius: 10px;">
                        <h1 class="text-right" id="bonyad">بنیاد خیریه کودکان</h1>
                        <img src="../../static/images/kids.jpg" class="img-responsive" style="margin: 50px auto">
                        <p class="text-right" id="mashi"> خط مشی موسسه خیریه رفاه کودک، بر اهمیت به تحصیل و آموزش استوار
                            بوده است. این موسسه تلاش می‌کند تا با حفظ شان انسانی دانش آموزان، از «نیازمند پروری»، پرهیز
                            کند و آن‌ها را در ساختن آینده‌ای با چشم اندازهای روشن یاری کند. بنیاد کودک ایران، یک سازمان
                            غیر انتفاعی و غیردولتی است و این ویژگی بخش جدایی ناپذیر خط مشی موسسه خیریه رفاه کودک بوده و
                            خواهد بود و در هیچ شرایطی از هرگونه اقدامی که با این ویژگی مطابقت نداشته باشد، استقبال
                            نخواهد کرد. البته همیاران بنیاد کودک ایران، می‌توانند از هر قشر، هر ملیت و با هر مرام سیاسی
                            و مذهبی باشند. اما موسسه هیچگونه اقدام و یا جهت گیری، علیه گروه خاصی را، نخواهد پذیرفت. هر
                            گونه همیاری مادی یا معنوی نیز با احترام به نیت خیر فرد یا سازمان ارائه دهنده، که با هدفی غیر
                            از کمک به دانش آموزان نیازمند باشد، پذیرفته نخواهد شد.</p>
                        <br>
                        <h1 class="text-right" id="haminan">حامیان طلایی بنیاد</h1>
                        <ul id="hamian-list">
                            <li><a href="http://www.samansat.ir/"><img src="../../static/images/logo1.png"></a></li>
                            <li><a href="http://cookma.ir/Home/Preview/41378"><img src="../../static/images/logo2.jpg"></a>
                            </li>
                            <li><a href="http://www.behpardakht.com/"><img src="../../static/images/logo3.jpg"></a></li>
                            <li><a href="http://www.nibb.ir/#!/home"><img src="../../static/images/logo4.bmp"></a></li>
                            <li><a href="http://www.sb24.com/"><img src="../../static/images/logo5.JPG"></a></li>
                            <li><a href="http://www.mapnagroup.com//"><img src="../../static/images/logo6.jpg"></a></li>
                        </ul>

                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}