{% extends 'modir/Base.html' %}

{% block title %}
    ویرایش اطلاعات
{% endblock %}

{% block content %}

    <div id="page-content-wrapper" class="offset8">
        <div class="container-fluid">
            <div class="row text-center">
                <div class="col-md-8" style="float: none; margin: 0 auto;">
                    <div style="background-color: white; margin: 5%; padding: 5%; border-radius: 10px;">
                        <form class="well form-horizontal" style="direction: rtl;" action=""
                              method="post">{% csrf_token %}
                            <fieldset>
                                <legend>
                                    <center><h2><b>ویرایش اطلاعات کاربران</b></h2></center>
                                </legend>
                                <br>


                                <table class="table table-hover"
                                       style="alignment: right; text-align: right; font-family: 'B Nazanin'; font-size: 16px; ">

                                    <tr>
                                        <td><label for="first_name">نام</label></td>
                                        <td>
                                            <input class="{% if form.first_name.errors %}has-error{% endif %}"
                                                   type="text"
                                                   name="first_name" id="first_name" value="{{ user.first_name }} ">
                                            {% if form.first_name.errors %}
                                                <span class="text-danger" style="text-align:center;">
                                                {% for error in form.first_name.errors %}{{ error }}{% endfor %}
                                            </span>
                                            {% endif %}
                                        </td>
                                    </tr>

                                    <tr>
                                        <td><label for="last_name">نام خانوادگی </label></td>
                                        <td>
                                            <input type="text"
                                                   class=" {% if form.last_name.errors %}has-error{% endif %}"
                                                   name="last_name"
                                                   id="last_name" value="{{ user.last_name }}">
                                            {% if form.last_name.errors %}
                                                <span class="text-danger" style="text-align:center;">
                                                {% for error in form.last_name.errors %}{{ error }}{% endfor %}
                                            </span>
                                            {% endif %}
                                        </td>
                                    </tr>


                                    <tr>
                                        <td><label for="username">نام کاربری</label></td>
                                        <td>
                                            <input type="text"
                                                   class=" {% if form.username.errors %}has-error{% endif %}"
                                                   name="username"
                                                   id="username" value="{{ user.username }}">
                                            {% if form.username.errors %}
                                                <span class="text-danger" style="text-align:center;">
                                                {% for error in form.username.errors %}{{ error }}{% endfor %}
                                            </span>
                                            {% endif %}
                                        </td>
                                    </tr>

                                    <tr>
                                        <td><label for="email">ایمیل </label></td>
                                        <td>
                                            <input type="text" name="email" id="email" value="{{ user.email }}">
                                            {% if form.email.errors %}
                                                <span class="text-danger" style="text-align:center;">
                                                {% for error in form.email.errors %}{{ error }}{% endfor %}
                                            </span>
                                            {% endif %}
                                        </td>
                                    </tr>

                                    <tr>
                                        <td><label for="phone_number">شماره تلفن </label></td>
                                        <td><input type="text" name="phone_number" id="phone_number"
                                                   value="{{ myUser.phone_number }} "></td>
                                    </tr>

                                    <tr>
                                        <td><label for="national_id">کدملی </label></td>
                                        <td><input type="text" name="national_id" id="national_id"
                                                   value="{{ myUser.national_id }} "></td>
                                    </tr>

                                    <tr>
                                        <td><label for="country">کشور </label></td>
                                        <td><input type="text" name="country" id="country"
                                                   value="{{ myUser.country }} "></td>
                                    </tr>

                                    <tr>
                                        <td><label for="city">شهر </label></td>
                                        <td><input type="text" name="city" id="city" value="{{ myUser.city }} "></td>
                                    </tr>

                                    <tr>
                                        <td><label for="address">آدرس </label></td>
                                        <td><input type="text" name="address" id="address"
                                                   value="{{ myUser.address }} "></td>
                                    </tr>

                                    <tr>
                                        <td><label for="postal_code">کدپستی </label></td>
                                        <td><input type="text" name="postal_code" id="postal_code"
                                                   value="{{ myUser.postal_code }} "></td>
                                    </tr>


{#                                    <tr>#}
{#                                        <td><label for="password">رمز </label></td>#}
{#                                        <td><input type="password" name="password1" id="password"#}
{#                                                   class=" {% if form.password2.errors %}has-error{% endif %}">#}
{#                                            {% if form.password2.errors %}#}
{#                                                <span class="text-danger">#}
{#                                                <p>{% for error in form.password2.errors %}{{ error }}{% endfor %}</p>#}
{#                                            </span>#}
{#                                            {% endif %}#}
{#                                        </td>#}
{#                                    </tr>#}
{##}
{##}
{#                                    <tr>#}
{#                                        <td><label for="passworda">تایید رمز </label></td>#}
{#                                        <td><input type="password" name="password2" id="passworda "#}
{#                                                   class=" {% if form.password2.errors %}has-error{% endif %}">#}
{#                                            {% if form.password2.errors %}#}
{#                                                <span class="text-danger">#}
{#                                                <p>{% for error in form.password2.errors %}{{ error }}{% endfor %}</p>#}
{#                                            </span>#}
{#                                            {% endif %}#}
{#                                        </td>#}
{#                                    </tr>#}

                                </table>


                                <input type="submit" name="submit" tabindex="4"
                                       class="form-control btn btn-login" value="ویرایش" placeholder="ویرایش">

                            </fieldset>

                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>



{% endblock %}