{% extends 'modir/Base.html' %}

{% block title %}
    لیست مددجوبان
{% endblock %}

{#{% block content %}#}
{#{% endblock %}#}

{% block content %}
    <!--page content-->
    <div id="page-content-wrapper" class="offset8">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12">
                    <div style="background-color: white; margin: 5%; padding: 5%; border-radius: 10px;">
                        <section id="report">
                            <form class="well form-horizontal" style="direction: rtl">
                                <fieldset>
                                    <legend>
                                        <center><h2
                                                style="font-family: 'B Nazanin'; font-size: 30px; font-weight: bold;">
                                            <b>مددجو موردنظر خود را انتخاب کنید.</b></h2></center>
                                    </legend>
                                    <br>
                                    <div style="direction: rtl">
                                        {% if list %}
                                            {% for madadju in list %}
                                                <div class="col-sm-3 col-lg-4" style="float: right !important;">
                                                    <div class="thumbnail">
                                                        <div class="caption">
                                                            <h2 style="background: #7a0134; font-family: 'B Nazanin'; font-size: 16px; font-weight: bold; color: white; padding: 10px; width: 100px; margin-left: 30px; border-radius: 20px">
                                                                {{madadju.user.user.username }}

                                                            </h2>
                                                            <h4 style="font-family: 'B Nazanin'; font-size: 16px; font-weight: bold;">{{ madadju.user.user.first_name }} {{ madadju.user.user.last_name }}</h4>
                                                            <h4 style="font-family: 'B Nazanin'; font-size: 16px; font-weight: bold;">
                                                                سن :
                                                                {{ madadju.age }}
                                                            </h4>

                                                            <h4 style="font-family: 'B Nazanin'; font-size: 16px; font-weight: bold;">
                                                                <a href="/madadju-pay2/{{ madadju.user.user.username }}">صفجه
                                                                    پرداخت به مددجو
                                                                </a></h4>


                                                        </div>
                                                    </div>
                                                </div>
                                            {% endfor %}
                                        {% endif %}
                                    </div>
                                </fieldset>
                            </form>
                        </section>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
