{% extends 'modir/base.html' %}

{% block title %}
    رسید پرداخت
{% endblock %}




{% if receipt %}
{% block content %}



    <div id="page-content-wrapper" class="offset8">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12">
                    <div style="background-color: white; margin: 5%; padding: 5%; border-radius: 10px; text-align: right;">
                        <center><h3 style="color: green">پرداخت با موفقیت انجام شد</h3></center>
                        <br>
                        <h3 style="font-family: 'B Nazanin';">رسید پرداخت</h3>
                        <br>

                        <table class="table table-striped" style="align-content: right">
                         <tbody>
                                <tr>
                                    <td>{{ receipt.date }}</td>
                                    <td>تاریخ</td>

                                </tr>
                                <tr>
                                    <td>{{ receipt.value }}</td>
                                    <td>مقدار</td>

                                </tr>

                                <tr>
                                    <td>{{ receipt.receipt_number }}</td>
                                    <td>کد پیگیری</td>

                                </tr>

                                <tr>
                                    <td>{{ receipt.madadju.user.user.username }}</td>
                                    <td>مددجو</td>

                                </tr>

                                <tr>
                                    <td>{{ receipt.kind }}</td>
                                    <td>نوع</td>

                                </tr>

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
{% else %}
<h1 style="color: red">پرداخت شما با خطا رو به رو شد</h1>
{% endif %}